#body
	{
		width:100%;
		height:400px;
		background:url(../image/background.jpg);
	}
.container
	{
		width:278px;
		height:200px;
		
		margin:auto;
	}
	#body div .container form table tr td {
	font-family: Verdana, Geneva, sans-serif;
}
.form
	{
		margin:auto; 
		width:400px;
		height:300px;
		background:#FFF;
		border-radius:15px;
		margin-top:200px;
	}
.form h1
	{
		color:#030;
	}
.form_input
	{
		border-radius:5px;
		border:groove;
		border-color:#030;
	}